/* ******************************/
/* GENERAL STYLES */
/* ******************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #777;
}
.container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.grid {
  display: grid;
  gap: 2rem;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-2 {
  grid-template-columns: 2fr 1fr;
}

.flex-box {
  display: flex;
  gap: 0.5rem;
}
.row-one,
.row-two {
  justify-content: space-between;
  margin-top: 4.5rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.claim-text-box,
.secondary-title,
.person-detail,
.activity-text {
  text-decoration: none;
  color: #212529c9;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 2rem 0;
}

.main-title,
.person-name,
.activity-title-secondary {
  text-transform: uppercase;
  font-weight: 700;
  color: #212529;
  font-size: 1.3rem;
}
.claim-img-box img,
.img-plus {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: -1.8rem;
  border: 2px solid #f7f7f7;
}

.claim-box,
.profile-info-box,
.activity-info-main {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 2.6px;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.claim-text-box,
.secondary-title {
  padding: 0;
  text-transform: uppercase;
}

.person-details,
.profile-info-main,
.activity,
.greatings-box,
.profile-completion-content {
  list-style: none;
  flex-direction: column;
  gap: 1rem;
}
.btn-pay,
.btn-complete {
  background-color: #f59f00;

  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 2.5rem !important;
  font-weight: 500;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

/* ******************************/
/* SECTION HEADER STYLES*/
/* ******************************/

.section-header {
  grid-column: 1/3;
  padding: 0 3rem;

  height: 40vh;
  background-image: linear-gradient(#0d5d6bef, rgba(13, 93, 107, 0.651)), url(img/header-img.jpeg);
  background-size: cover;
  background-position: left;

  position: relative;
}

.logo-box {
  align-items: center;
  gap: 0.5rem;

  justify-self: start;
}

.logo-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}
.content-box {
  position: relative;
  align-items: center;
  gap: 1.5rem;
}
.btn-need-help {
  background-color: rgba(208, 235, 255, 0.3);
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-weight: 700;
}
.icon-notifications {
  height: 3rem;
  width: 3rem;
  color: rgba(208, 235, 255, 0.3);
  position: relative;
}
.notifications-yellow {
  position: absolute;
  top: 0.5rem;
  left: 12rem;
  height: 1rem !important;
  width: 1rem !important;
}
.profile-completion {
  align-self: flex-start;
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(208, 235, 255, 0.356);
}
.profile-completion-content {
  gap: 2rem;
}

.header-profile {
  height: 3rem;
  width: 3rem;
  border-radius: 0.3rem;
}

.profile-picture {
  width: 18rem;
  height: 18rem;
  border-radius: 0.3rem;
}

.profile-details {
  gap: 3rem;
}

.greatings-text {
  font-size: 2rem;
  color: #f7f7f7;
  font-weight: 900;
  letter-spacing: 0.8px;
}
.greatings-box {
  gap: 0.6rem;
}
.profile-completion-text {
  font-size: 1.5rem;
  color: #f7f7f7f1;
  font-weight: 500;
}
.header-text {
  font-size: 1.3rem;
  color: #f7f7f7de;
}

.skill {
  width: 8rem;
  height: 8rem;
}
.outer {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 5px solid rgba(160, 209, 247, 0.712);

  padding: 1rem;
}
.inner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(160, 209, 247, 0.712);
  align-items: center;
  justify-content: center;
}

#number {
  font-weight: bold;
  font-size: 1.2rem;
  color: #f7f7f7;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 5px;
  stroke-dasharray: 230;
  stroke-dashoffset: 230;

  animation: anim 1.2s linear forwards;
}
svg {
  position: absolute;
  /* top: 0;
  left: 0; */
}

@keyframes anim {
  100% {
    stroke-dashoffset: 50;
  }
}

/* ******************************/
/* SECTION ASIDE STYLE */
/* ******************************/

.section-aside {
  padding: 8rem 1rem 3rem 3rem;
  border-right: 1px solid #dee2e6;

  flex-direction: column;
  gap: 2rem;
}
.about-info {
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dee2e6;
  padding: 1.5rem 0;
}
.persons-img {
  gap: 1.5rem;
}
.persons-img img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.about-me-text {
  font-size: 1.1rem;
  color: #212529c9;
  font-weight: 500;
}

/* ******************************/
/* SECTION MAIN STYLE */
/* ******************************/

.main {
  background-color: #dee2e6c9;
}

.section-nav {
  background-color: #fff;
  padding: 0 3rem;
  border-bottom: 1px solid #dee2e6;
}
.main-nav-list {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  gap: 4rem;
}

.active {
  color: #212529;
  font-weight: 700 !important;
}

.main-nav-link:hover,
.active {
  color: #212529;
  font-weight: 700 !important;
  border-bottom: 2px solid rgba(207, 113, 31, 0.74);
}

.btn-claim {
  font-size: 1.3rem;
  background-color: #20c997;
  color: #fff;
  padding: 0.8rem 2rem;
}

.btn-right {
  margin-left: auto;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.icon-home {
  height: 2rem;
  width: 2rem;
  color: #868e96;
}

.icon-ellipsis {
  color: #777;
}

.section-claim {
  padding: 3rem;
}

.img-plus {
  background-color: #20c996cc;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  align-items: center;
}

.claim-number {
  font-size: 5rem;
  color: rgba(52, 58, 64, 0.9);
  font-family: sans-serif;
  border-right: 2px solid #dee2e6;
  padding-right: 2rem;
}
.claim-content {
  flex-direction: column;
  gap: 1rem;
}

.section-profile-info {
  padding: 0 3rem 3rem 3rem;
}

.profile-info-main {
  gap: 3rem;
}
.person-name {
  margin-bottom: 1.5rem;
}

.person-detail {
  font-size: 1rem !important;
  padding: 0;
  align-items: center;
  gap: 1.6rem;
}

.profile-icon {
  height: 2rem;
  width: 2rem;
}

.btn-pay {
  margin-left: auto;
  align-self: flex-end;
}
.btn-complete {
  align-self: flex-start;
}

.profile-info-box img {
  border-radius: 0.5rem;
  width: 12rem;
  height: auto;
}
.activity-title-main {
  border-bottom: 2px solid #dee2e6;
  padding-bottom: 1rem;
}
.activity-info-box {
  padding-top: 3rem;
  align-items: flex-start;
  gap: 1.5rem;
}

.icon-blue {
  color: #1c7ed6;
  filter: drop-shadow(0px 4px 3px #1c7fd6b4);
}
.icon-yellow {
  color: #e67e22;
  filter: drop-shadow(0px 4px 3px #e67d22b0);
}
.icon-green {
  color: #20c997;
  filter: drop-shadow(0px 4px 3px #20c996c2);
}
.activity-title-secondary {
  text-transform: none;
  font-size: 1.5rem;
}
.activity-text {
  padding: 0;
  font-weight: 500;
}
